<p><%= link_to "New Link", new_link_path %></p>
<table class="table">
<thead> 
  <tr>
  	<th>CTYHOCN</th>
  	<th>Linking Site</th>
  	<th>Status</th>
  	<th>Anchor Text</th>
  	<th>Link Type</th>
  	<th>PageRank</th>
  	<th>Last Requested</th>
  	<th>Contact Email</th>
  	<th>Date Active</th>
  	<th></th>
  </tr>
</thead>
<tbody>
<% @links.each do |link| %>
<tr>
  <td><%= link.ctyhocn %></td>
  <td><%= link_to "View Site", link.linking_site %></td>
  <td><%= link.status %></td>
  <td><%= link.anchor_text.truncate(20) %></td>
  <td><%= link.link_type %></td>
  <td><%= link.pagerank %></td>
  <td><%= link.date_requested %></td>
  <td><%= link_to link.contact_email.truncate(20), "mailto:" + link.contact_email %></td>
  <td><%= link.date_active %></td>
  <td><%= link_to "Edit", edit_link_path(link) %></td>
</tr>
<% end %>
</tbody>
</table>